$colorText: black;
$colorBg: white;
$colorH1: lightgrey;
$colorText2: darkgrey;
$colorText3: lightblue;
$colorText4: cyan;
$colorBg2: magenta;
$colorBg3: yellow;
$colorBg4: lightcoral;
$primary: #99272d;
$secondary: #36454f;
$tertiary: #5260ff;
$success: #2dd36f;
$warning: #ffc409;
$danger: #eb445a;
$medium: #92949c;
$dark: #404040;
$light: #f4f5f8;
$none: rgba(255, 255, 255, 0);
$cyandark: rgb(0, 100, 100);
